.container {
  /* max-width: 1900px; */
  margin: 0 auto;
  width: 90%;
}

.footer-container {
  text-align: center;
  padding: 1.7em;
  background-color: #bf360c;
}

.navbarStyle {
  background-color: #bf360c;
}

.loginPage {
  max-width: 600px;
  margin: 0 auto;
}

.titleHeading {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.container-login {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 6.5em 0 12.3em 0;
}

input {
  display: block;
}

.form-input {
  width: 280px;
  padding: 0.3em;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.form-btn {
  display: block;
  width: 280px;
  padding: 0.3em;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}
